<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
<!--<form id="form1" name="form1" method="post" action="/newapp/login_post/">-->
  <!--<table border="1">-->
    <!--<tr>-->
      <!--<td>User Name</td>-->
      <!--<td><input type="text" name="textfield" id="textfield" required/></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td>Password</td>-->
      <!--<td><input type="text" name="textfield2" id="textfield2" required/></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td colspan="2"><div align="center">-->
        <!--<input type="submit" name="button" id="button" value="Login" required/>-->
      <!--</div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td colspan="2" align="center"><a href="/newapp/shopreg_load/">Shop Registration</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td colspan="2" align="center"><a href="">Forget Password</a></td>-->
    <!--</tr>-->
  <!--</table>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

{% load static %}
<!--<!doctype html>-->
<html lang="en">
  <head>
  	<title>SHOPPING APP </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="{% static 'login_temp/https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap' %}" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'login_temp/https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}">

	<link rel="stylesheet" href="{% static 'login_temp/css/style.css' %}">

	  <style>
		  body{
		  background-image: url("{% static 'login_temp/images/bg.jpg' %}");
		  }
	  </style>
	</head>
	<body class="img js-fullheight" >
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">SHOPPING APP</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Forgot Password?</h3>
		      	<form  method="post" action="/newapp/forgot_password_post/" class="signin-form">
		      		<div class="form-group">
		      			<input type="text" class="form-control" placeholder="Enter your email" name="textfield" required>
		      		</div>

	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">SUBMIT</button>
	            </div>

	          </form>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'login_temp/js/jquery.min.js' %}"></script>
  <script src="{% static 'login_temp/js/popper.js' %}"></script>
  <script src="{% static 'login_temp/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'login_temp/js/main.js' %}"></script>

	</body>
</html>

