{% extends "Seller/seller_temp.html" %}
{% block body %}
<form action="/newapp/seller_add_product_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table class="table table-bordered">
    <tr>
      <td>Quantity 1</td>
      <td><input type="text" name="textfield" id="textfield" class="form-control" required/>
        <input type="hidden" name="pid" id="pid" value="{{product_id}}" class="form-control" required/></td>
    </tr>
      <tr>
      <td>Quantity 2</td>
      <td><input type="text" name="textfield1" id="textfield1"class="form-control" required/></td>
    </tr>
      <tr>
      <td>Discount</td>
      <td><input type="text" name="textfield2" id="textfield2" class="form-control" required/></td>
    </tr>
      <tr>
      <td colspan="2" align="center">
        <input type="submit" name="button" id="button" value="Add" class="btn btn-success" />
     </td>
    </tr>
  </table>
</form>
{% endblock %}